.appContainer {
    display: flex;
    min-height: 100vh;
    background-color: #f7f9fd;
  }

  .mainContentArea {
    flex-grow: 1;
    margin-left: 220px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
  }

@media (max-width: 768px) {
  .appContainer {
    width: 100vw;
    min-width: 0;
  }
  .mainContentArea {
    margin-left: 0;
    padding: 0 0.5rem;
  }
}